.image-analyzer-child {
    height: 33px;
    width: 1440px;
    position: relative;
    background-color: var(--color-peru);
    display: none;
    max-width: 100%;
  }
  .image-7-icon {
    width: 20px;
    height: 21px;
    position: relative;
    object-fit: cover;
    mix-blend-mode: darken;
    z-index: 1;
  }
  .image-7-wrapper {
    height: 21px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-smi) 0 0;
    box-sizing: border-box;
  }
  .help {
    min-width: 27px;
  }
  .help,
  .offers,
  .orders,
  .track-order,
  .wishlist {
    position: relative;
    display: inline-block;
    z-index: 1;
  }
  .track-order {
    min-width: 68px;
    white-space: nowrap;
  }
  .offers,
  .orders,
  .wishlist {
    min-width: 39px;
  }
  .offers,
  .wishlist {
    min-width: 44px;
  }
  .offers {
    min-width: 36px;
  }
  .boolean-operator,
  .help-parent {
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .help-parent {
    flex-direction: row;
    padding: 0 var(--padding-xl) 0 0;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .boolean-operator {
    width: 1217px;
    flex-direction: column;
    padding: var(--padding-10xs) 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .image-10-icon,
  .image-11-icon,
  .image-8-icon,
  .image-9-icon {
    height: 21px;
    width: 20px;
    position: relative;
    object-fit: cover;
    mix-blend-mode: darken;
    min-height: 21px;
    z-index: 1;
  }
  .image-10-icon,
  .image-11-icon,
  .image-9-icon {
    mix-blend-mode: color-burn;
  }
  .image-10-icon,
  .image-11-icon {
    mix-blend-mode: multiply;
  }
  .image-11-icon {
    mix-blend-mode: darken;
  }
  .image-analyzer {
    align-self: stretch;
    height: 33px;
    background-color: var(--color-peru);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs);
    box-sizing: border-box;
    gap: 16px;
    top: 0;
    z-index: 99;
    position: sticky;
    max-width: 100%;
  }
  .frame-child {
    height: 249px;
    width: 1440px;
    position: relative;
    background-color: var(--color-saddlebrown);
    display: none;
    max-width: 100%;
  }
  .image-1-icon {
    height: 76px;
    width: 74px;
    position: relative;
    object-fit: contain;
    mix-blend-mode: darken;
    z-index: 2;
  }
  .rajasthani-culture {
    position: absolute;
    margin: 0 !important;
    right: -91px;
    bottom: 13px;
    display: inline-block;
    min-width: 110px;
    z-index: 3;
  }
  .frame-wrapper,
  .image-1-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .image-1-parent {
    height: 76px;
    flex-direction: row;
    position: relative;
  }
  .frame-wrapper {
    height: 243px;
    flex-direction: column;
  }
  .frame-item {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #f70b0b;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .image-18-icon {
    position: absolute;
    width: calc(100% - 8px);
    top: 4px;
    right: 4px;
    left: 4px;
    border-radius: var(--br-21xl);
    max-width: 100%;
    overflow: hidden;
    height: 90px;
    object-fit: cover;
    mix-blend-mode: darken;
    z-index: 3;
  }
  .ellipse-parent {
    height: 98px;
    flex: 1;
    position: relative;
  }
  .frame-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .offers1 {
    position: relative;
    display: inline-block;
    min-width: 50px;
    z-index: 2;
  }
  .frame-parent,
  .offers-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .offers-wrapper {
    flex-direction: row;
    padding: 0 var(--padding-5xl);
  }
  .frame-parent {
    width: 98px;
    flex-direction: column;
    gap: var(--gap-8xs);
  }
  .frame-inner {
    height: 49px;
    width: 169px;
    position: relative;
    background-color: var(--color-gainsboro);
    display: none;
  }
  .all-categories {
    position: relative;
    font-size: var(--font-size-sm);
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: left;
    display: inline-block;
    min-width: 90px;
    z-index: 3;
  }
  .rectangle-group {
    cursor: pointer;
    border: 0;
    padding: var(--padding-base) 38px;
    background-color: var(--color-gainsboro);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    white-space: nowrap;
    z-index: 2;
  }
  .rectangle-group:hover,
  .rectangle-parent8:hover {
    background-color: var(--color-silver);
  }
  .rectangle-icon {
    height: 50.5px;
    width: 565px;
    position: absolute;
    margin: 0 !important;
    right: 0.5px;
    bottom: -6.5px;
    z-index: 2;
  }
  .frame-input,
  .vector-parent {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-input {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: #f3f3f3;
    height: 49px;
    padding: var(--padding-2xl) var(--padding-lgi) var(--padding-smi);
    box-sizing: border-box;
    font-family: var(--font-inter);
    font-size: var(--font-size-xs);
    color: #5a4848;
    min-width: 250px;
    z-index: 3;
  }
  .vector-parent {
    position: relative;
    min-width: 380px;
  }
  .rectangle-div {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-indianred);
    width: 100%;
    height: 100%;
    display: none;
  }
  .image-13-icon {
    position: absolute;
    top: 17px;
    left: 11px;
    width: 28px;
    height: 26px;
    object-fit: cover;
    mix-blend-mode: darken;
    z-index: 5;
  }
  .rectangle-container {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-indianred);
    height: 49px;
    width: 49px;
    position: relative;
    z-index: 4;
  }
  .frame-div {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
    row-gap: 20px;
  }
  .ellipse-div {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #0e0e0e;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .image-19-icon {
    position: absolute;
    width: calc(100% - 8px);
    top: 4px;
    right: 6px;
    left: 2px;
    border-radius: var(--br-21xl);
    max-width: 100%;
    overflow: hidden;
    height: 90px;
    object-fit: cover;
    z-index: 3;
  }
  .ellipse-group {
    height: 98px;
    flex: 1;
    position: relative;
  }
  .frame-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .gents {
    position: relative;
    display: inline-block;
    min-width: 44px;
    z-index: 2;
  }
  .data-aggregator,
  .frame-parent2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .data-aggregator {
    flex-direction: row;
    padding: 0 27px;
  }
  .frame-parent2 {
    width: 98px;
    flex-direction: column;
    gap: var(--gap-8xs);
  }
  .frame-child1 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-black);
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .image-20-icon {
    position: absolute;
    height: calc(100% - 8px);
    top: 4px;
    bottom: 4px;
    left: 8px;
    border-radius: var(--br-21xl);
    max-height: 100%;
    width: 90px;
    object-fit: cover;
    z-index: 3;
  }
  .ellipse-container {
    height: 98px;
    flex: 1;
    position: relative;
  }
  .frame-wrapper2 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .womens {
    position: relative;
    display: inline-block;
    min-width: 62px;
    z-index: 2;
  }
  .frame-parent3,
  .list-item-collection {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .list-item-collection {
    flex-direction: row;
    padding: 0 var(--padding-xs) 0 var(--padding-5xl);
  }
  .frame-parent3 {
    width: 223px;
    flex-direction: column;
    padding: 0 125px 0 0;
    box-sizing: border-box;
    gap: var(--gap-8xs);
  }
  .frame-child2 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-black);
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .image-21-icon {
    position: absolute;
    width: calc(100% - 8px);
    top: 4px;
    right: 4px;
    left: 4px;
    border-radius: var(--br-21xl);
    max-width: 100%;
    overflow: hidden;
    height: 90px;
    object-fit: cover;
    z-index: 3;
  }
  .ellipse-parent1 {
    height: 98px;
    flex: 1;
    position: relative;
  }
  .frame-wrapper3 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .instrument {
    position: relative;
    display: inline-block;
    min-width: 86px;
    z-index: 2;
  }
  .frame-parent4,
  .instrument-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .instrument-wrapper {
    flex-direction: row;
    padding: 0 0 0 var(--padding-smi);
  }
  .frame-parent4 {
    width: 99px;
    flex-direction: column;
    gap: var(--gap-8xs);
  }
  .frame-group,
  .frame-parent1,
  .frame-wrapper1 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent1 {
    width: 626px;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-group,
  .frame-wrapper1 {
    box-sizing: border-box;
  }
  .frame-wrapper1 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 30px 0 var(--padding-xl);
  }
  .frame-group {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 var(--padding-2xs) 0 0;
    gap: 61px;
    min-width: 528px;
  }
  .my-account {
    align-self: stretch;
    height: 15px;
    position: relative;
    display: inline-block;
    z-index: 2;
  }
  .my-account-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-23xl) 0 0;
  }
  .image-14-icon {
    height: 49px;
    width: 51px;
    position: relative;
    object-fit: cover;
    mix-blend-mode: darken;
    z-index: 2;
  }
  .image-14-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-5xs);
  }
  .my-account1 {
    position: relative;
    display: inline-block;
    min-width: 67px;
    z-index: 3;
  }
  .frame-parent7,
  .frame-parent8 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent8 {
    align-self: stretch;
    flex-direction: column;
    color: var(--color-black);
  }
  .frame-parent7 {
    height: 64px;
    flex: 1;
    flex-direction: row;
    gap: var(--gap-9xs);
  }
  .image-15-icon {
    width: 51px;
    height: 49px;
    position: relative;
    object-fit: cover;
    mix-blend-mode: darken;
    z-index: 2;
  }
  .login {
    position: relative;
    font-size: var(--font-size-xs);
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: left;
    display: inline-block;
    min-width: 32px;
    z-index: 3;
  }
  .data-collector,
  .image-15-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-4xs) 0 var(--padding-3xs);
  }
  .image-15-parent {
    cursor: pointer;
    border: 0;
    padding: 0 var(--padding-lgi) 0 0;
    background-color: transparent;
    height: 64px;
    flex-direction: column;
    box-sizing: border-box;
  }
  .image-17-icon {
    height: 62px;
    width: 62px;
    position: relative;
    object-fit: cover;
    mix-blend-mode: darken;
    z-index: 2;
  }
  .expert-support-247 {
    position: absolute;
    margin: 0 !important;
    right: -31px;
    bottom: -8px;
    display: inline-block;
    min-width: 115px;
    z-index: 3;
  }
  .output-aggregator {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .input-processor {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-5xs);
    color: var(--color-black);
  }
  .frame-parent6 {
    width: 336px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-xl);
    box-sizing: border-box;
    gap: 23px;
    max-width: 100%;
  }
  .frame-child3 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-black);
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .image-22-icon {
    position: absolute;
    width: calc(100% - 8px);
    top: 4px;
    right: 4px;
    left: 4px;
    border-radius: var(--br-21xl);
    max-width: 100%;
    overflow: hidden;
    height: 90px;
    object-fit: cover;
    z-index: 3;
  }
  .ellipse-parent2 {
    height: 98px;
    flex: 1;
    position: relative;
  }
  .value-subtracter {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    width: 98px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-child4 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-black);
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .image-23-icon {
    position: absolute;
    width: calc(100% - 8px);
    top: 4px;
    right: 4px;
    left: 4px;
    border-radius: var(--br-21xl);
    max-width: 100%;
    overflow: hidden;
    height: 90px;
    object-fit: cover;
    z-index: 3;
  }
  .ellipse-parent3 {
    height: 98px;
    flex: 1;
    position: relative;
  }
  .value-subtracter1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    width: 98px;
    justify-content: flex-start;
  }
  .value-adder,
  .value-adder-wrapper,
  .value-subtracter1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .value-adder {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .value-adder-wrapper {
    align-self: stretch;
    justify-content: flex-end;
    padding: 0 var(--padding-12xs) 0 0;
  }
  .books,
  .home-decor {
    position: relative;
    display: inline-block;
    min-width: 46px;
    z-index: 2;
  }
  .home-decor {
    min-width: 88px;
  }
  .data-merger {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 0 0 var(--padding-7xl);
    gap: var(--gap-xl);
  }
  .branch-splitter,
  .flow-controller {
    display: flex;
    justify-content: flex-start;
  }
  .branch-splitter {
    width: 320px;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--gap-8xs);
  }
  .flow-controller {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    font-size: var(--font-size-smi);
    color: var(--color-black);
  }
  .frame-parent5,
  .rectangle-parent {
    display: flex;
    align-items: flex-end;
    max-width: 100%;
  }
  .frame-parent5 {
    width: 365px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 45px;
    font-size: var(--font-size-xs);
    color: transparent;
  }
  .rectangle-parent {
    align-self: stretch;
    background-color: var(--color-saddlebrown);
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-17xl) var(--padding-7xs) 0;
    box-sizing: border-box;
    gap: var(--gap-lg);
    flex-shrink: 0;
    z-index: 1;
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .repeating-sequence-child {
    width: 1440px;
    height: 517px;
    position: relative;
    background-color: var(--color-chocolate-200);
    display: none;
    max-width: 100%;
  }
  .homebooks {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    min-width: 128px;
  }
  .books1,
  .homebooks,
  .result-780-productsbest {
    position: relative;
    display: inline-block;
    z-index: 3;
  }
  .books1 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    min-width: 116px;
  }
  .result-780-productsbest {
    flex: 1;
    font-weight: 300;
    max-width: 100%;
  }
  .result-780-productsbest-prem-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 var(--padding-12xs);
    box-sizing: border-box;
    font-size: var(--font-size-base);
  }
  .data-flow-network,
  .filter-function-tree,
  .result-780-productsbest-prem-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .filter-function-tree {
    flex: 1;
    flex-direction: column;
    gap: 39px;
  }
  .data-flow-network {
    width: 453px;
    flex-direction: row;
    padding: 0 var(--padding-44xl) var(--padding-smi);
    box-sizing: border-box;
    font-size: var(--font-size-13xl);
  }
  .frame-child5 {
    align-self: stretch;
    width: 158px;
    position: relative;
    border-radius: var(--br-31xl);
    background-color: var(--color-gainsboro);
    display: none;
  }
  .image-51-icon,
  .rectangle-parent1 {
    flex: 1;
    border-radius: var(--br-31xl);
  }
  .image-51-icon {
    height: 150px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: 4;
  }
  .rectangle-parent1 {
    align-self: stretch;
    background-color: var(--color-gainsboro);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 3;
  }
  .folk-song {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 93px;
    z-index: 3;
  }
  .graphical-element-stack,
  .shape-set {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 33px 0 var(--padding-13xl);
  }
  .shape-set {
    height: 193px;
    width: 221px;
    flex-direction: column;
    padding: 0 var(--padding-44xl) 0 0;
    box-sizing: border-box;
    gap: var(--gap-lgi);
  }
  .frame-child6 {
    align-self: stretch;
    width: 158px;
    position: relative;
    border-radius: var(--br-31xl);
    background-color: var(--color-gainsboro);
    display: none;
  }
  .image-52-icon,
  .rectangle-parent2 {
    flex: 1;
    border-radius: var(--br-31xl);
  }
  .image-52-icon {
    height: 150px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: 4;
  }
  .rectangle-parent2 {
    align-self: stretch;
    background-color: var(--color-gainsboro);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 3;
  }
  .folk-story {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 95px;
    z-index: 3;
  }
  .folk-story-wrapper,
  .shape-set1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .folk-story-wrapper {
    flex-direction: row;
    padding: 0 var(--padding-13xl) 0 var(--padding-12xl);
  }
  .shape-set1 {
    height: 193px;
    width: 261px;
    flex-direction: column;
    padding: 0 103px 0 0;
    box-sizing: border-box;
    gap: var(--gap-lgi);
  }
  .frame-child7 {
    align-self: stretch;
    width: 158px;
    position: relative;
    border-radius: var(--br-31xl);
    background-color: var(--color-gainsboro);
    display: none;
  }
  .image-53-icon,
  .rectangle-parent3 {
    flex: 1;
    border-radius: var(--br-31xl);
  }
  .image-53-icon {
    height: 150px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: 4;
  }
  .rectangle-parent3 {
    align-self: stretch;
    background-color: var(--color-gainsboro);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 3;
  }
  .history {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 69px;
    z-index: 3;
  }
  .history-wrapper,
  .shape-set2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .history-wrapper {
    flex-direction: row;
    padding: 0 var(--padding-26xl) 0 44px;
  }
  .shape-set2 {
    height: 193px;
    width: 158px;
    flex-direction: column;
    gap: var(--gap-lgi);
  }
  .frame-child8 {
    align-self: stretch;
    width: 158px;
    position: relative;
    border-radius: var(--br-31xl);
    background-color: var(--color-gainsboro);
    display: none;
  }
  .image-54-icon,
  .rectangle-parent4 {
    flex: 1;
    border-radius: var(--br-31xl);
  }
  .image-54-icon {
    height: 150px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: 4;
  }
  .rectangle-parent4 {
    align-self: stretch;
    background-color: var(--color-gainsboro);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 3;
  }
  .art-culture {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 122px;
    z-index: 3;
  }
  .art-culture-wrapper {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 18px;
  }
  .art-culture-wrapper,
  .pathfinding-tree,
  .shape-set3 {
    display: flex;
    align-items: flex-start;
  }
  .shape-set3 {
    height: 193px;
    width: 158px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-lgi);
  }
  .pathfinding-tree {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
  }
  .pathfinding-tree-wrapper,
  .repeating-sequence {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .pathfinding-tree-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-base) 0 35px;
  }
  .repeating-sequence {
    flex: 0.9;
    background-color: var(--color-chocolate-200);
    flex-direction: column;
    padding: 40px 72px 50px;
    gap: 51px;
    z-index: 2;
  }
  .logic-function-tree-child {
    width: 1440px;
    height: 1278px;
    position: relative;
    background-color: var(--color-chocolate-100);
    display: none;
    max-width: 100%;
  }
  .frame-child9 {
    width: 288px;
    height: 394px;
    position: relative;
    background-color: var(--color-gainsboro);
    display: none;
  }
  .image-56-icon {
    height: 214px;
    width: 214px;
    position: relative;
    object-fit: cover;
    z-index: 2;
  }
  .image-56-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 var(--padding-xs);
  }
  .b {
    position: relative;
    white-space: nowrap;
    z-index: 2;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
  }
  .image-50-icon {
    height: 50px;
    width: 50px;
    position: relative;
    object-fit: cover;
    mix-blend-mode: multiply;
    z-index: 3;
  }
  .b1 {
    position: relative;
    display: inline-block;
    min-width: 32px;
    z-index: 2;
  }
  .container,
  .frame-parent11 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .container {
    flex-direction: column;
    padding: var(--padding-mid) 0 0;
    font-size: var(--font-size-xl);
  }
  .frame-parent11 {
    align-self: stretch;
    flex: 1;
    flex-direction: row;
    gap: 1.5px;
  }
  .lokgeet {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    min-width: 80px;
    z-index: 2;
  }
  .frame-parent10,
  .lokgeet-wrapper {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .lokgeet-wrapper {
    flex-direction: row;
    padding: 0 var(--padding-68xl) 0 79px;
    font-size: var(--font-size-xl);
  }
  .frame-parent10 {
    height: 82px;
    flex-direction: column;
    gap: var(--gap-5xs);
  }
  .frame-child10,
  .rectangle-parent5 {
    width: 288px;
    height: 394px;
    background-color: var(--color-gainsboro);
  }
  .rectangle-parent5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-26xl) var(--padding-mid) 23px var(--padding-6xl);
    box-sizing: border-box;
    gap: var(--gap-11xl);
    z-index: 1;
  }
  .frame-child10 {
    position: relative;
    display: none;
  }
  .b2,
  .image-57-icon {
    position: relative;
    z-index: 2;
  }
  .image-57-icon {
    width: 214px;
    height: 212px;
    object-fit: cover;
  }
  .b2 {
    white-space: nowrap;
  }
  .frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
  }
  .b3,
  .image-49-icon {
    position: relative;
    z-index: 2;
  }
  .image-49-icon {
    height: 50px;
    width: 50px;
    object-fit: cover;
    mix-blend-mode: multiply;
  }
  .b3 {
    height: 19px;
    display: inline-block;
    flex-shrink: 0;
    min-width: 16px;
  }
  .frame-parent13,
  .wrapper1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .wrapper1 {
    flex-direction: column;
    padding: var(--padding-mid) 0 0;
    font-size: var(--font-size-xl);
  }
  .frame-parent13 {
    align-self: stretch;
    flex: 1;
    flex-direction: row;
    gap: var(--gap-9xs);
  }
  .lok-kathay {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    min-width: 107px;
    z-index: 2;
  }
  .frame-parent12,
  .lok-kathay-wrapper,
  .rectangle-parent6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .lok-kathay-wrapper {
    flex-direction: row;
    padding: 0 53px;
    font-size: var(--font-size-xl);
  }
  .frame-parent12,
  .rectangle-parent6 {
    flex-direction: column;
  }
  .frame-parent12 {
    align-self: stretch;
    height: 79px;
    gap: var(--gap-8xs);
  }
  .rectangle-parent6 {
    height: 394px;
    width: 288px;
    background-color: var(--color-gainsboro);
    padding: 47px var(--padding-xs) var(--padding-7xl) var(--padding-18xl);
    box-sizing: border-box;
    gap: var(--gap-11xl);
    z-index: 1;
  }
  .frame-parent9,
  .logic-function-tree-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent9 {
    width: 910px;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .logic-function-tree-inner {
    width: 1160px;
    justify-content: center;
  }
  .data-sync-child {
    width: 288px;
    height: 394px;
    position: relative;
    background-color: var(--color-gainsboro);
    display: none;
  }
  .image-58-icon {
    height: 214px;
    width: 214px;
    position: relative;
    object-fit: cover;
    z-index: 2;
  }
  .data-queue {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-2xs) 0 var(--padding-4xs);
  }
  .b4 {
    position: relative;
    white-space: nowrap;
    z-index: 2;
  }
  .data-stream {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
  }
  .b5,
  .image-47-icon {
    position: relative;
    z-index: 2;
  }
  .image-47-icon {
    height: 50px;
    width: 50px;
    object-fit: cover;
    mix-blend-mode: multiply;
  }
  .b5 {
    display: inline-block;
    min-width: 23px;
  }
  .data-collector1,
  .data-pool {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .data-collector1 {
    flex-direction: column;
    padding: var(--padding-lgi) 0 0;
    font-size: var(--font-size-sm);
  }
  .data-pool {
    align-self: stretch;
    flex: 1;
    flex-direction: row;
    gap: 10px;
  }
  .history1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    min-width: 72px;
    z-index: 2;
  }
  .image-analyzer1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 82px 0 80px;
    font-size: var(--font-size-xl);
  }
  .data-heap {
    align-self: stretch;
    height: 82px;
    gap: var(--gap-5xs);
  }
  .data-heap,
  .data-sync,
  .data-sync-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .data-sync {
    align-self: stretch;
    flex: 1;
    background-color: var(--color-gainsboro);
    padding: var(--padding-20xl) var(--padding-7xl) 22px 28px;
    gap: 37px;
    z-index: 1;
  }
  .data-sync-wrapper {
    height: 415px;
    width: 288px;
    padding: var(--padding-2xl) 0 0;
    box-sizing: border-box;
  }
  .frame-child11 {
    width: 288px;
    height: 394px;
    position: relative;
    background-color: var(--color-gainsboro);
    display: none;
  }
  .b6,
  .image-55-icon {
    position: relative;
    z-index: 2;
  }
  .image-55-icon {
    width: 214px;
    height: 214px;
    object-fit: cover;
  }
  .b6 {
    transform: rotate(0.68deg);
    white-space: nowrap;
  }
  .wrapper2 {
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
  }
  .image-48-icon {
    height: 50px;
    width: 50px;
    position: relative;
    object-fit: cover;
    mix-blend-mode: multiply;
    z-index: 3;
    margin-left: -14.3px;
  }
  .frame-parent16 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .b7 {
    position: relative;
    display: inline-block;
    min-width: 13px;
    z-index: 2;
  }
  .circle-producer,
  .shape-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .shape-container {
    flex-direction: column;
    padding: var(--padding-sm) 0 0;
    font-size: var(--font-size-xl);
  }
  .circle-producer {
    align-self: stretch;
    flex: 1;
    flex-direction: row;
    gap: var(--gap-2xs);
  }
  .art-culture1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    min-width: 127px;
    z-index: 4;
  }
  .art-culture-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 56px 0 48.20000000000073px;
    font-size: var(--font-size-xl);
  }
  .circle-producer-parent,
  .rectangle-parent7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .circle-producer-parent {
    align-self: stretch;
    height: 74px;
  }
  .rectangle-parent7 {
    height: 394px;
    width: 288px;
    background-color: var(--color-gainsboro);
    padding: 43px var(--padding-6xl) var(--padding-sm) 31.799999999999272px;
    box-sizing: border-box;
    gap: 49px;
    z-index: 1;
  }
  .frame-parent15,
  .frame-wrapper4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent15 {
    width: 922px;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-wrapper4 {
    width: 1148px;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-child12 {
    height: 58px;
    width: 910px;
    position: relative;
    background-color: var(--color-gainsboro);
    display: none;
    max-width: 100%;
  }
  .load-more {
    height: 33px;
    width: 253px;
    position: relative;
    font-size: var(--font-size-13xl);
    font-weight: 300;
    font-family: var(--font-inter);
    color: var(--color-black);
    white-space: pre-wrap;
    text-align: left;
    display: inline-block;
    flex-shrink: 0;
    z-index: 2;
  }
  .frame-wrapper5,
  .rectangle-parent8 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100%;
  }
  .rectangle-parent8 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) 288px var(--padding-smi);
    background-color: var(--color-gainsboro);
    width: 910px;
    z-index: 1;
  }
  .frame-wrapper5 {
    width: 1160px;
    padding: 0 var(--padding-xl);
  }
  .khamma-ghani,
  .khamma-ghani1,
  .khamma-ghani2 {
    margin: 0;
    width: 219px;
    position: relative;
    font-size: inherit;
    line-height: 32px;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    z-index: 1;
  }
  .bg-image-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    font-family: var(--font-advent-pro);
  }
  .frame-parent14,
  .logic-function-tree {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 63px;
    max-width: 100%;
  }
  .logic-function-tree {
    background-color: var(--color-chocolate-100);
    padding: 93px 140px 29px 85px;
    box-sizing: border-box;
    gap: 131px;
  }
  .conditional-statement-tree,
  .logic-function-tree-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .logic-function-tree-wrapper {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-494xl) 0 0;
    margin-left: -1440px;
    font-size: var(--font-size-13xl);
  }
  .conditional-statement-tree {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 var(--padding-20xl);
    flex-shrink: 0;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .container1 {
    align-self: stretch;
    height: 1px;
    position: relative;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
  }
  .about-us {
    position: relative;
    font-size: var(--font-size-sm);
    display: inline-block;
    min-width: 72px;
  }
  .careers-title {
    width: 5px;
    height: 5px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-black);
  }
  .careers-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
  }
  .our-story {
    position: relative;
    display: inline-block;
    min-width: 55px;
  }
  .image-box-producer,
  .shape-box-engine {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .shape-box-engine {
    gap: var(--gap-xs);
  }
  .image-box-producer {
    padding: 0 var(--padding-9xs);
  }
  .frame-child13 {
    width: 5px;
    height: 5px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-black);
  }
  .ellipse-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
  }
  .careers {
    position: relative;
    display: inline-block;
    min-width: 45px;
  }
  .frame-parent19,
  .image-box-producer1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent19 {
    gap: var(--gap-xs);
  }
  .image-box-producer1 {
    padding: 0 var(--padding-9xs);
  }
  .frame-child14 {
    width: 5px;
    height: 5px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-black);
  }
  .ellipse-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) 0 0;
  }
  .contact-us {
    position: relative;
    display: inline-block;
    min-width: 68px;
  }
  .frame-parent20,
  .terms-of-service {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent20 {
    gap: var(--gap-xs);
  }
  .terms-of-service {
    padding: 0 var(--padding-3xs) 0 var(--padding-9xs);
  }
  .frame-child15 {
    width: 5px;
    height: 5px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-black);
  }
  .ellipse-wrapper1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
  }
  .locate-stores {
    position: relative;
    display: inline-block;
    min-width: 78px;
  }
  .about-us-parent,
  .frame-parent21,
  .image-box-producer2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent21 {
    gap: var(--gap-xs);
  }
  .about-us-parent,
  .image-box-producer2 {
    padding: 0 0 0 var(--padding-9xs);
  }
  .about-us-parent {
    flex-direction: column;
    padding: 0 var(--padding-10xs) 0 0;
    gap: 9.75px;
  }
  .customer-care {
    position: relative;
    font-size: var(--font-size-sm);
    display: inline-block;
    min-width: 120px;
  }
  .frame-child16 {
    width: 5px;
    height: 5px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-black);
  }
  .ellipse-wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
  }
  .privacy-policy {
    position: relative;
    display: inline-block;
    min-width: 79px;
  }
  .frame-parent22,
  .shape-box-container-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent22 {
    gap: var(--gap-4xs);
  }
  .shape-box-container-inner {
    padding: 0 var(--padding-4xs);
  }
  .frame-child17 {
    width: 5px;
    height: 5px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-black);
  }
  .ellipse-wrapper3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
  }
  .terms-conditions {
    position: relative;
    display: inline-block;
    min-width: 111px;
  }
  .frame-parent23,
  .shape-box-container-child {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent23 {
    gap: var(--gap-4xs);
  }
  .shape-box-container-child {
    padding: 0 0 0 var(--padding-4xs);
  }
  .frame-child18 {
    width: 5px;
    height: 5px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-black);
  }
  .ellipse-wrapper4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
  }
  .refund-policy {
    position: relative;
    display: inline-block;
    min-width: 78px;
  }
  .frame-parent24,
  .shape-box-container-inner1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent24 {
    gap: var(--gap-4xs);
  }
  .shape-box-container-inner1 {
    padding: 0 var(--padding-4xs);
  }
  .frame-child19 {
    width: 5px;
    height: 5px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-black);
  }
  .ellipse-wrapper5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
  }
  .faqs {
    position: relative;
    display: inline-block;
    min-width: 30px;
  }
  .frame-parent25,
  .shape-box-container-inner2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent25 {
    gap: var(--gap-4xs);
  }
  .shape-box-container-inner2 {
    padding: 0 var(--padding-4xs);
  }
  .frame-child20 {
    width: 5px;
    height: 5px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-black);
  }
  .ellipse-wrapper6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
  }
  .track-orders {
    position: relative;
    display: inline-block;
    min-width: 74px;
  }
  .frame-parent26,
  .shape-box-container-inner3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent26 {
    gap: var(--gap-4xs);
  }
  .shape-box-container-inner3 {
    padding: 0 var(--padding-4xs);
  }
  .frame-child21 {
    width: 5px;
    height: 5px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-black);
  }
  .ellipse-wrapper7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
  }
  .terms-of-service1 {
    position: relative;
    display: inline-block;
    min-width: 96px;
  }
  .frame-parent27,
  .shape-box-container,
  .shape-box-container-inner4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent27 {
    gap: var(--gap-4xs);
  }
  .shape-box-container,
  .shape-box-container-inner4 {
    padding: 0 15px 0 var(--padding-4xs);
  }
  .shape-box-container {
    flex-direction: column;
    padding: 0 var(--padding-68xl) 0 0;
    gap: 15.5px;
  }
  .offers-rewards {
    position: relative;
    font-size: var(--font-size-sm);
  }
  .frame-child22 {
    width: 5px;
    height: 5px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-black);
  }
  .ellipse-wrapper8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
  }
  .royal-rajasthan-club {
    position: relative;
    display: inline-block;
    min-width: 120px;
  }
  .frame-parent28 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-smi);
  }
  .frame-child23 {
    width: 5px;
    height: 5px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-black);
  }
  .ellipse-wrapper9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
  }
  .coupons {
    position: relative;
    display: inline-block;
    min-width: 51px;
  }
  .frame-parent29,
  .offers-rewards-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-smi);
  }
  .offers-rewards-parent {
    flex-direction: column;
    padding: 0 75px 0 0;
    gap: var(--gap-xl);
  }
  .get-in-touch1 {
    display: inline-block;
    min-width: 101px;
  }
  .call-91-9129-9129-95,
  .get-in-touch1 {
    position: relative;
  }
  .email-input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-5xs);
  }
  .email-supportrccom {
    position: relative;
  }
  .call-btn,
  .get-in-touch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 7px;
    font-size: var(--font-size-xs);
  }
  .get-in-touch {
    gap: 25px;
    font-size: var(--font-size-sm);
  }
  .follow-us {
    position: relative;
    display: inline-block;
    min-width: 82px;
  }
  .shape-setter {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-smi);
    font-size: var(--font-size-sm);
  }
  .icon-assembler-child {
    width: 5px;
    height: 5px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-black);
  }
  .icon-assembler {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) 0 0;
  }
  .facebook {
    position: relative;
    display: inline-block;
    min-width: 56px;
  }
  .icon-assembler-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .triangle-former {
    width: 5px;
    height: 5px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-black);
  }
  .triangle-former-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-6xs) 0 0;
  }
  .twitter {
    position: relative;
    display: inline-block;
    min-width: 40px;
  }
  .frame-parent31 {
    flex-direction: row;
    gap: var(--gap-5xs);
  }
  .frame-parent30,
  .frame-parent31,
  .size-adjustor {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent30 {
    flex-direction: column;
    gap: var(--gap-2xs);
  }
  .size-adjustor {
    flex-direction: row;
    padding: 0 var(--padding-smi) var(--padding-8xs);
  }
  .terms-conditions-link {
    width: 5px;
    height: 5px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-black);
  }
  .terms-conditions-link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
  }
  .instagram {
    position: relative;
    display: inline-block;
    min-width: 57px;
  }
  .frame-parent32 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .termsof-service-link {
    width: 5px;
    height: 5px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-black);
  }
  .termsof-service-link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-6xs) 0 0;
  }
  .linkedin {
    position: relative;
    display: inline-block;
    min-width: 48px;
  }
  .frame-parent33 {
    flex-direction: row;
    gap: var(--gap-5xs);
  }
  .frame-parent33,
  .path-patches,
  .path-patches-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .path-patches {
    flex-direction: column;
    gap: var(--gap-lg);
  }
  .path-patches-wrapper {
    flex-direction: row;
    padding: 0 var(--padding-xs) var(--padding-7xs) var(--padding-smi);
  }
  .sitemap {
    position: relative;
    display: inline-block;
    min-width: 53px;
  }
  .image-box-container,
  .shape-box-container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .shape-box-container1 {
    gap: 17px;
  }
  .image-box-container {
    padding: 2px 0 0;
  }
  .frame-parent18,
  .frame-wrapper6 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent18 {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-wrapper6 {
    width: 1365px;
    justify-content: flex-start;
    padding: 0 var(--padding-18xl);
    box-sizing: border-box;
  }
  .spiral-sculptor-icon {
    align-self: stretch;
    height: 2px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
  }
  .frame-parent17 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    max-width: 100%;
  }
  .ugaoo-all-right {
    position: relative;
  }
  .bevel-builder,
  .illustration-island {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .bevel-builder {
    flex-direction: row;
    padding: 0 var(--padding-18xl);
  }
  .illustration-island {
    align-self: stretch;
    flex-direction: column;
    gap: var(--gap-smi);
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .blur-blender-icon,
  .symbol-symphony {
    align-self: stretch;
    max-width: 100%;
    flex-shrink: 0;
  }
  .symbol-symphony {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 153px;
    box-sizing: border-box;
    gap: 60px;
  }
  .blur-blender-icon {
    height: 2px;
    position: relative;
    overflow: hidden;
    object-fit: contain;
  }
  .book-category-page,
  .desktop-5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .desktop-5 {
    height: 2441px;
    flex: 1;
    background-color: var(--color-gainsboro);
    flex-direction: column;
    padding: 0 0 var(--padding-sm);
    box-sizing: border-box;
    max-width: 100%;
  }
  .book-category-page {
    width: 100%;
    position: relative;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    flex-direction: row;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1325px) {
    .boolean-operator {
      display: none;
    }
    .rectangle-parent {
      flex-wrap: wrap;
      padding-left: var(--padding-xl);
      padding-top: var(--padding-7xs);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .logic-function-tree {
      padding-top: var(--padding-494xl);
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
    }
    .desktop-5 {
      height: auto;
    }
  }
  @media screen and (max-width: 1125px) {
    .frame-group {
      gap: 30px 61px;
    }
    .pathfinding-tree {
      flex-wrap: wrap;
      justify-content: center;
    }
    .bg-image-container,
    .frame-parent18 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 800px) {
    .vector-parent {
      min-width: 100%;
    }
    .frame-div,
    .frame-parent1 {
      flex-wrap: wrap;
    }
    .frame-group {
      min-width: 100%;
    }
    .books1 {
      font-size: var(--font-size-7xl);
    }
    .repeating-sequence {
      gap: 25px 51px;
      padding: var(--padding-7xl) var(--padding-17xl) var(--padding-13xl);
      box-sizing: border-box;
    }
    .b,
    .b2 {
      font-size: var(--font-size-7xl);
    }
    .frame-parent9 {
      flex-wrap: wrap;
    }
    .b4,
    .b6 {
      font-size: var(--font-size-7xl);
    }
    .frame-parent15 {
      flex-wrap: wrap;
    }
    .khamma-ghani,
    .khamma-ghani1,
    .khamma-ghani2,
    .load-more {
      font-size: var(--font-size-7xl);
    }
    .frame-parent14 {
      gap: 31px 63px;
    }
    .logic-function-tree {
      gap: 65px 131px;
      padding-left: var(--padding-23xl);
      padding-right: 70px;
      box-sizing: border-box;
    }
    .symbol-symphony {
      gap: 30px 60px;
      padding-bottom: 99px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .frame-group {
      gap: 15px 61px;
    }
    .frame-parent5 {
      gap: 22px 45px;
    }
    .homebooks {
      font-size: var(--font-size-base);
    }
    .books1 {
      font-size: var(--font-size-lgi);
    }
    .filter-function-tree {
      gap: 19px 39px;
    }
    .data-flow-network {
      padding-left: var(--padding-12xl);
      padding-right: var(--padding-12xl);
      box-sizing: border-box;
    }
    .folk-song,
    .folk-story {
      font-size: var(--font-size-base);
    }
    .shape-set1 {
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .art-culture,
    .history {
      font-size: var(--font-size-base);
    }
    .b {
      font-size: var(--font-size-lgi);
    }
    .b1,
    .lokgeet {
      font-size: var(--font-size-base);
    }
    .rectangle-parent5 {
      gap: 15px 30px;
      padding-top: var(--padding-494xl);
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
    }
    .b2 {
      font-size: var(--font-size-lgi);
    }
    .b3,
    .lok-kathay {
      font-size: var(--font-size-base);
    }
    .rectangle-parent6 {
      gap: 15px 30px;
      padding-top: var(--padding-494xl);
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
    }
    .b4 {
      font-size: var(--font-size-lgi);
    }
    .history1 {
      font-size: var(--font-size-base);
    }
    .data-sync {
      gap: 18px 37px;
      padding-top: var(--padding-494xl);
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
    }
    .b6 {
      font-size: var(--font-size-lgi);
    }
    .art-culture1,
    .b7 {
      font-size: var(--font-size-base);
    }
    .rectangle-parent7 {
      gap: 24px 49px;
      padding-top: var(--padding-494xl);
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
    }
    .load-more {
      font-size: var(--font-size-lgi);
    }
    .rectangle-parent8 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .khamma-ghani,
    .khamma-ghani1,
    .khamma-ghani2 {
      font-size: var(--font-size-lgi);
    }
    .frame-parent14 {
      gap: 16px 63px;
    }
    .logic-function-tree {
      gap: 33px 131px;
      padding-left: var(--padding-xl);